#title-logo {
    background-image: url('project://database/Assets/Game/Sprites/TitleLogo/TitleLogo.png');
    -unity-background-scale-mode: scale-to-fit;
}

.start-prompt-text {
    font-size: 20px;
    -unity-font-definition: url('project://database/Packages/com.onetimegames.coreassets/Runtime/Fonts/default/default.asset');
    /* TODO: swap for game-specific font when available */
}
